@import url('https://fonts.googleapis.com/css?family=Ubuntu:700i');

.img-container {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border: white solid 4pt;
    border-radius: 2pt;
    display: inline-block;
    text-align: center;
    float: left;
}
.img-container > img {
    width: 100%;
}

.footnote {
    color: rgb(0,0,0,0.7);
}

.fancy {
    font-family: Ubuntu;
    font-style: italic;
    font-size: 300%;
}

.navbar {
    border-bottom: 2pt #e9ecef solid;
}

.jumbotron {
    margin-bottom: 0pt;
}

.bg-logo {
    background-image: url("/images/bitconeect.jpeg");
    background-size: 100% auto;
    background-attachment: fixed;
    color: var(--white);
    text-shadow: 1pt 2pt 0pt var(--gray-dark);
}

#logo {
    height: 1.5em;
}

h1 {
    font-family: Ubuntu;
    font-style: italic;
    @media only screen and (max-width: 1000px) {
	font-size: 75%;
    }
}

.story-image {
    width: 100%;
    margin-top: 6pt;
    border-radius: 3pt;
    object-fit: cover;
    height: 75%;
}
